.navigation_menu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation_menu li{
    margin: 0 20px;
}

.navigation_menu li a{
    text-decoration: none;
    color: white;
}

/* mobile navigatio */
.mobile_navigation{
    list-style: none;
}

.mobile_navigation li{
    margin-top: 20px;
}

.mobile_navigation li a{
    text-decoration: none;
    font-size: 1.4rem;
    color: black;
}